<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>XADE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pn2ca6fbe3-044b-4ef1-8527-b29f11123a3c</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.finance</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>metamask</string>
		<string>trust</string>
		<string>safe</string>
		<string>rainbow</string>
		<string>uniswap</string>
		<string>zerion</string>
		<string>imtokenv2</string>
		<string>spot</string>
		<string>omni</string>
		<string>dfw</string>
		<string>tpoutside</string>
		<string>robinhood-wallet</string>
		<string>frontier</string>
		<string>blockchain-wallet</string>
		<string>safepalwallet</string>
		<string>bitkeep</string>
		<string>oneinch</string>
		<string>exodus</string>
		<string>bnc</string>
		<string>ledgerlive</string>
		<string>mewwallet</string>
		<string>awallet</string>
		<string>keyring</string>
		<string>lobstr</string>
		<string>ontoprovider</string>
		<string>mathwallet</string>
		<string>unstoppabledomains</string>
		<string>obvious</string>
		<string>fireblocks-wc</string>
		<string>ambire</string>
		<string>internetmoney</string>
		<string>walletnow</string>
		<string>bitcoincom</string>
		<string>coin98</string>
		<string>arculuswc</string>
		<string>cryptobrowser</string>
		<string>chainapp</string>
		<string>huddln</string>
		<string>verso</string>
		<string>haha</string>
		<string>modularwallet</string>
		<string>coinomi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
		<key>NSExceptionDomains</key>
		<dict>
			<key>api-dfns.xade.finance</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true />
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true />
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true />
		<key>NSAllowsLocalNetworking</key>
		<true />
		<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
		<true />
		<key>NSIncludesSubdomains</key>
		<true />
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera to scan QRs for public addresses</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID for authenticating logins.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string />
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access in order to open photos of QRs</string>
	<key>UIAppFonts</key>
	<array>
		<string>VelaSans-Medium.otf</string>
		<string>Sk-Modernist-Bold.otf</string>
		<string>Sk-Modernist-Regular.otf</string>
		<string>LemonMilk-Regular.otf</string>
		<string>VelaSans-Bold.otf</string>
		<string>VelaSans-ExtraBold.otf</string>
		<string>VelaSans-ExtraLight.otf</string>
		<string>VelaSans-Light.otf</string>
		<string>VelaSans-Regular.otf</string>
		<string>VelaSans-SemiBold.otf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>NeueMachina-UltraBold.otf</string>
		<string>Benzin-Medium.otf</string>
		<string>EuclidCircularA-Bold.otf</string>
		<string>EuclidCircularA-Medium.otf</string>
		<string>EuclidCircularA-SemiBold.otf</string>
		<string>EuclidCircularA-Regular.otf</string>
		<string>Inter-Regular.otf</string>
		<string>LemonMilk-Bold.otf</string>
		<string>NeueMontreal-Bold.otf</string>
		<string>Sarala-Regular.otf</string>
		<string>Satoshi-Black.otf</string>
		<string>Satoshi-BlackItalic.otf</string>
		<string>Satoshi-Bold.otf</string>
		<string>Satoshi-BoldItalic.otf</string>
		<string>Satoshi-Italic.otf</string>
		<string>Satoshi-Light.otf</string>
		<string>Satoshi-LightItalic.otf</string>
		<string>Satoshi-Medium.otf</string>
		<string>Satoshi-MediumItalic.otf</string>
		<string>Satoshi-Regular.otf</string>
		<string>Unbounded-Bold.otf</string>
		<string>Unbounded-ExtraBold.otf</string>
		<string>Unbounded-Medium.otf</string>
		<string>Unbounded-Regular.otf</string>
		<string>Unbounded-SemiBold.otf</string>
		<string>UnicaOne-Regular.ttf</string>
		<string>NeueMontreal-BoldItalic.otf</string>
		<string>NeueMontreal-Italic.otf</string>
		<string>NeueMontreal-Light.otf</string>
		<string>NeueMontreal-LightItalic.otf</string>
		<string>NeueMontreal-Medium.otf</string>
		<string>NeueMontreal-MediumItalic.otf</string>
		<string>NeueMontreal-Regular.otf</string>
		<string>Sk-Modernist-Mono.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
